* {
  margin: 0;
  padding: 0;
}

body {
    background-color: floralwhite;
}

#body:-webkit-full-screen {
    background-color: floralwhite;
    width: 100%;
    height: 100%;
}

.bg {
    background-color: floralwhite;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

video, canvas, #video {
        transform: scaleX(-1);
     -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
   -moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
    z-index: 1;
    margin-left: 35px;
    margin-top: 515px;
    position: absolute;
}

#videoBg {
    z-index: 1;
    margin-left: 20px;
    margin-top: 500px;
    position: absolute;
}

#face-novideo {
  position: absolute;
  width: 1100px;
  height: auto;
  overflow: hidden;
  z-index: 0;
}

#face-background{
    position: absolute;
/*    z-index: 0;*/
    overflow: hidden;
}

#mouth {
    z-index:1;
    position: absolute;
}

.fullscreen-button {
    background-color: rgba(255, 255, 255, 0.1);
    width: 10%;
    height: 10%;
    position: absolute;
    z-index: 1;
    float: left;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.dg.ac {
  z-index: 100 !important;
  top: 50px !important;
}